* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#b068e9, #6463e7);
  background-repeat: no-repeat;
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  width: 100vw;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  background-image: url("../images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 80%;
  background-position-y: -5px;
  background-position-x: 30px;
  width: 320px;

  border-radius: 20px;
  position: relative;
  padding: 30px 0;
  margin: 180px 5% 5vh 5%;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 1px 10px 21px -4px rgba(0, 0, 0, 0.85);
  box-shadow: 1px 10px 21px -4px rgba(0, 0, 0, 0.85);
}

.imageBox {
  position: relative;
  height: 100px;
  width: 100%;
}

.imgOfBox {
  position: absolute;
  left: -10%;
  top: 41%;
  z-index: 10;
  display: none;
}

.imgMobile {
  position: absolute;
  z-index: 10;
  left: 5%;
  top: -135%;
}

.imgDesktop {
  display: none;
  position: absolute;
  left: -13%;
  top: 9%;
}

h1 {
  color: #1e1f36;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  margin: 30px 0 50px 0;
  text-align: center;
}

.accordion {
  height: 2rem;
  padding: 0 1rem;
}

.faqQuestion {
  color: #4b4c5f;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  justify-content: space-between;
  margin-right: 5px;
}

.faqQuestion::after {
  color: #f47b56;
  content: url("../images/icon-arrow-down.svg");
  font-size: 2rem;
  transition: all 0.3s ease-out;
}

/*Active state to test*/
.faqQuestion::after.active {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.faqQuestion:hover {
  color: #f47b56;
  cursor: pointer;
}

/*Active state to test*/
.faqQuestion.active {
  font-weight: 700;
}

.faqAnswer {
  color: #778877;
  height: 0;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.125rem;
  overflow: hidden;
}

/*Active state to test*/
.faqAnswer.active {
  height: 100px;
  margin-top: 10px;
}

hr {
  border: 0;
  border-top: 1px solid #e8e8ea;
  margin: 0 5% 0.75rem 5%;
}

/*Active state to test*/
hr.active {
  margin-top: 45px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
  .container {
    width: 920px;
    height: 509px;
    display: flex;
    margin: 0;
    background: url("../images/bg-pattern-desktop.svg");
    background-position-x: -363px;
    background-position-y: 63%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  .imgOfBox {
    display: block;
  }

  h1 {
    text-align: start;
    padding-left: 1rem;
  }
  .imageBox {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .imgDesktop {
    display: block;
  }
  .contentBox {
    margin-left: 5%;
    width: 40%;
  }
}
